.DashBoard-Margin {
    margin-top: 40px;
}

.Dash-Box-Att {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
}


.DashBoard-Text {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}


.DashBoard-Text-info {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 0 1.25rem;
}

a:hover {
    text-decoration: none;
}

#DashClient {
    background: #a7414a;
    width: 15rem;
}

#DashNewClient {

    background: #6a8a82;
    width: 15rem;
}

#DashSub {
    background: #d9ac2a;
    width: 15rem;
}

#DashSubStat {
    background: #415939;
    width: 15rem;
}

.BoxStat {
    height: 450px;
    background: #f8f9fa;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 45%;
    text-align: right;
}

.BoxTitle {
    font-size: 20px;
    font-weight: 600;
    color: #353c3f;
    padding: 1.25rem 1.25rem 1.25rem;
    box-shadow: 0px 2px 5px 0px #353c3f;
}

.fa-3x {
    color: #f8f9fa;
}

/* Cards attributes */
.Dashboard .card {
    position: unset;
    text-align: right;
    height: 25vh;
    border-radius: 1rem;
    background: #f8f9fa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    overflow: hidden;
}

#Card-size {
    height: 50vh;
    width: 100%;
}


/* Dashboard table */
.table-bordered {
    border: 1px solid #353c3f;
}

.Dash-Table {
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.25rem 0 1.25rem;
}

.table {

    margin-bottom: 1rem;
    color: #f8f9fa;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #f8f9fa;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #353c3f;
    color: #353c3f;
}

.table-sm td,
.table-sm th {
    padding: .3rem;
    color: #353c3f;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #353c3f;
}

.Dash-Table .card-body {
    overflow: auto;
}

@media only screen and (width: 768px) {
    .Dashboard .card {
        height: 15vh;
    }

}

@media only screen and (width: 2560px) {
    #DashClient {
        width: 27rem;
    }

    #DashNewClient {
        width: 27rem;
    }

    #DashSub {
        width: 27rem;
    }

    #DashSubStat {
        width: 27rem;
    }

    .Dash-Table {
        padding: 0 3rem 0 3rem;
    }

    .Card-Pages {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (width:1280px),
(width:1200px) {

    #DashClient {
        width: 12rem;
    }

    #DashNewClient {
        width: 12rem;
    }

    #DashSub {
        width: 12rem;
    }

    #DashSubStat {

        width: 12rem;
    }
}

@media only screen and (width:1024px) {
    #Card-size {
        height: 40vh;
    }

    #DashClient {

        width: 18rem;
    }

    #DashNewClient {

        width: 18rem;
    }

    #DashSub {

        width: 18rem;
    }

    #DashSubStat {

        width: 18rem;
    }

    .BoxStat {
        flex: 0 0 95%;
        margin-bottom: 10px;
    }

    .fa-3x {
        font-size: 2.5em;
    }

    .Dashboard .card {
        height: 20vh;
    }

    .Dash-Table {
        padding: 0 .75rem 0 .75rem;
    }

}

@media only screen and (width:1440px) {

    .BoxStat {
        flex: 0 0 98%;
        margin-bottom: 25px;
    }

    .Dash-Box-Att {
        padding-bottom: 2rem;
    }

    .Dash-Table {
        padding: 0 0.5rem 0 0.5rem;
    }

}