.Noti-Main {
    max-width: 75%;
    height: 400px;
    margin: 0 auto;
    background: #f8f9fa;
}

.Noti-Header {
    font-size: 30px;
    color: #555;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px #353c3f;
}


.noti .card {
    position: unset;
    max-height: 60vh;
    overflow: auto;
    background-color: #f8f9fa;
}

.toast {
    width: unset;
    max-width: unset;
}

.toast-header {
    text-align: right;
    background: unset;
}

.small,
small {
    font-size: 80%;
    font-weight: 400;
    margin-right: auto;
}