.ExePadding {
    padding-bottom: 2rem
}

.ExeMain {
    max-width: 75%;
    margin: 0 auto;
    background: #f5f5f5;
}

.ExeForm {
    color: #555;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 1.25rem;
}

.Exe-Flex {
    display: flex;
    flex-wrap: wrap;
}

.ExeForm input[type=text] {
    width: 30%;
    height: 30px;
    text-indent: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ExeForm select {
    width: 30%;
    height: 30px;
    text-indent: 10px;
    color: #6e6e6e;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.ExeDays {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.ExeBoxs {
    max-height: 240px;
    border: none;
    outline: none;
    padding: 12px 12px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 12%;
    text-align: center;
}

#SundayDesign {
    background: #4897d8;
}

#MondayDesign {
    background: #ffdb5c;
}

#TuesdayDesign {
    background: #fa6e59
}

#WednesdayDesign {
    background: #f8a055;
}

#ThursdayDesign {
    background: #b8d20b;
}

#FridayDesign {
    background: #d9ac2a;
}

#SaturdayDesign {
    background: #f1445b;
}

.DaysText {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}